body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.hero-section {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1521791136064-7986c2920216?q=80') center/cover no-repeat;
  position: relative;
  padding: 60px 0;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero-section .container {
  position: relative;
  z-index: 2;
}

.hero-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.hero-text p {
  margin-top: 15px;
  max-width: 600px;
}

.appointment-form {
  max-width: 350px;
  width: 100%;
}

.appointment-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

.appointment-form button {
  width: 100%;
  background-color: #f4b400;
  border: none;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}





.practice-section {
  background-color: #f8f9fa;
}

.section-title {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}




/* Smooth scroll for anchor links of contact*/
html {
  scroll-behavior: smooth;
}

.contact-form-wrapper {
  background-color: white;
  padding: 50px 0;
}

.contact-form {
  max-width: 600px;
}



/* Prevent navbar from covering section headings */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* adjust based on navbar height */
}
